.contact {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    background-color: grey;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
  