.header {
    width: 100%;
    height: 150px;
    display: flex;
    color: white;
    z-index: 11;
    padding: 40px;
    position: relative;
    justify-content: flex-end;
}
.logo-name {
    width: 30%;
    text-align: center;
    margin: auto;
}
.location {
    width: 30%;
    text-align: center;
    margin: auto;
}
.nav-link {
    flex-grow: 2;
}

nav {
    display: flex;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0px;


    li a{
        color: white;
    }
}

