.showcase-box {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #282c34;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    
    .image-container {
        width: 30%;
        height: 300px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        height: 200px;
        width: 200px;
    }
}
